{% extends 'base.html' %}

{% block main %}
<div class="medium-12 columns">
  <!--<input id="pac-input" class="controls" type="text" placeholder="Search for a location here.">-->
  <div class="content">
  </div>
  
 </div>
{% endblock %}

{% block scripts_bottom %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
	<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js"></script>-->
    <script type="text/javascript"  src="{{ STATIC_URL }}js/view_map.js"></script>
{% endblock %}